<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <%= render "users/banner" %>

    <div class="home-div">
     <div class="btac"><%= link_to book_path(@book) do %>
      <div class="btrsp">
      <%= @book.title %>
        <br>
         <%= @book.author %>
        </div>
         <br>
          <img src="<%=(url_for(@book.image))%>">
          <% end %>
         <br>
        </br>
       </div>
    </div>



      <div class="reflections-show" style="float:right; width:500px; height:500px; overflow:auto;">
      <div class="book-title" style = "text-transform:uppercase;">
      <%= @reflection.title %>
      </div>
      <br>
      <br>
      <%= @reflection.content %>
      <br>
      <div class="rshow-button"><%= render partial: "layouts/edit_delete_reflections", locals: { object: @book, obj: @reflection } %></div>


        </div>


      </body>
    </html>
