<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
  </head>
  <body>
    <div class="header">
      <div class="banner-logo"><img src="/assets/Reflections_Logo.png"></div>
      <div class="header-right">
        <%= link_to "HOME", users_path %>
        <%= link_to "ADD BOOK", new_book_path %>
        <%= link_to "PROFILE", user_path(current_user.id) %>
        <%= link_to "ACCOUNT SETTINGS", account_settings_path(current_user.id) %>
      </div>
    </div>


           <% @users.each do | user | %>
           <div class="index-user">
             <%= link_to user.username, user_path(user) %>
             <% user.owned_books.each do | b | %>
             <br>
                <%= b.title %>
               <% end %>
               <br>
            </div>

               <% end %>




      </body>
    </html>
