<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/books.css">
  </head>
  <body>
    <div class="header">
      <div class="banner-logo"><img src="/assets/Reflections_Logo.png"></div>
      <div class="header-right">
        <%= link_to "HOME", users_path %>
        <%= link_to "ADD BOOK", new_book_path %>
        <%= link_to "PROFILE", user_path(current_user.id) %>
        <%= link_to "ACCOUNT SETTINGS", account_settings_path(current_user.id) %>
      </div>
    </div>
    <div class="home-div">

      <div class="settings-name"><%= @user.username %></div>
      <br></br>
      <br></br>
      <%= button_to("Log out", logout_path, method: :delete, class: "logout-button") %>
      <br></br>
      <%= button_to("Edit Profile", edit_user_path(@user), method: :get, class: "ep-button") %>
      <br></br>
      <%= button_to("Delete Account", user_path(current_user), method: :delete, class: "da-button") %>


        </div>

      </body>
    </html>
