<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <%= render "banner" %>

    <div class="profile-un"><%= @user.username %></div>
    <br>

       <div class="profile-container">
        <% @books.each do | book | %>
          <div class="link-to" id="htitle"><%= link_to book_path(book) do %>
             <div class="card">
              <div class="card-image"><img src="<%=(url_for(book.image))%>"></div>
                <div class="card-text">
                  <span class="date"></span>
                  <h2><%= book.title %></h2>
                  <% book.reflections.limit(1).each do | r |%>
                  <br>
                  <p><%= r.title %></p>
                  <br>
                 <% end %>
                </div>
               <div class="card-stats">
              <div class="stat">
             <div class="value"><p> <%= created(book) %> </p></div>
            </div>
           </div>
         </div>
       <% end %>
      </div>
    <% end %>
   </div>

  </body>
</html>
