<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
  </head>
  <body>
    <div class="header">
      <!-- <div class="home-logo"><img src="/images/Medivation_Logo.png"></div> -->
      <div class="header-right">
        <%= link_to "HOME", users_path %>
        <%= link_to "ADD BOOK", new_book_path %>
        <%= link_to "PROFILE", user_path(current_user.id) %>
        <%= link_to "ACCOUNT SETTINGS" %>
      </div>
    </div>
    <div class="home-div">

      <h1><%= @user.username %></h1>
      <br>
      <% @books.each do | book | %>
      <br>
        <%= link_to book.title, book_path(book) %>
        <br>
        <%= book.author %>
        <br>
        <img src="<%=(url_for(book.image))%>">
        <br>
        <br>
        <button class="nrbutton"><%= link_to "Write a reflection", new_book_reflection_path(book) %></button>
      <% end %>



        </div>

      </body>
    </html>
