<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/books.css">
  </head>
  <body>
    <div class="header">
      <!-- <div class="home-logo"><img src="/images/Medivation_Logo.png"></div> -->
      <div class="header-right">
        <%= link_to "HOME", users_path %>
        <%= link_to "ADD BOOK", new_book_path %>
        <%= link_to "PROFILE", user_path(current_user.id) %>
        <%= link_to "ACCOUNT SETTINGS", account_settings_path(current_user.id) %>
      </div>
    </div>
    <div class="home-div">

      <%= @book.title %>
      <br>
      <%= @book.author %>
      <br>
      <% if @book.image.attached? %>
      <div class="bookcover">
        <img src="<%=(url_for(@book.image))%>">
      </div>
        <% if @book.owner_user == current_user %>
          <button class="ebbutton"><%= link_to "Edit Book", edit_book_path(@book) %></button>
          <br>
          <button type="dbbutton"><%= link_to "Delete Book", book_path(@book), method: :delete %></button>
        <% end %>
      <% end %>
      </div>
      <br>
      </br>
    <div class="reflections" style="float:right; width:500px; height:500px; overflow:auto;">
      <% @book.reflections.each do | r | %>
        <div class="book-title" style = "text-transform:uppercase;">
          <%= r.title %>
        </div>
        <br>
        <br>
        <%= r.content %>
        <br>
        <% if @book.owner_user == current_user %>
          <button class="erbutton"><%= link_to "Edit Reflection", edit_reflection_path(r) %></button>
          <button type="drbutton"><%= link_to "Delete Reflection", reflection_path(r), method: :delete %></button>
        <% end %>
        <br>
        <br>
      <% end %>
      <% if @book.owner_user == current_user %>
        <button class="nrbutton"><%= link_to "Write a reflection", new_book_reflection_path(@book) %></button>
      <% end %>

          </div>

      </body>
    </html>
