<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/books.css">
  </head>
  <body>
    <div class="header">
      <!-- <div class="home-logo"><img src="/images/Medivation_Logo.png"></div> -->
      <div class="header-right">
        <%= link_to "HOME", users_path %>
        <%= link_to "ADD BOOK", new_book_path %>
        <%= link_to "PROFILE", user_path(current_user.id) %>
        <%= link_to "ACCOUNT SETTINGS" %>
      </div>
    </div>
    <div class="home-div">

      <%= @book.title %>
      <br>
      <%= @book.author %>
      <br>
      <% if @book.image.attached? %>
      <div class="bookcover">
        <img src="<%=(url_for(@book.image))%>">
      </div>
      <% end %>
      <br>

      <% @book.reflections.each do | r | %>
        <%= r.title %>
        <%= r.content %>
        <br>
      <% end %>
      <br>
      <button class="nrbutton"><%= link_to "Write a reflection", new_book_reflection_path(@book) %></button>



        </div>

      </body>
    </html>
