<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/books.css">
  </head>
  <body>
    <%= render "users/banner" %>

    <div class="home-div">
     <div class="btac">
      <%= @book.title %>
      <br>
      <div class="bauthor"><%= @book.author %></div>
      <% if @book.image.attached? %>
      <div class="bookcover">
        <img src="<%=(url_for(@book.image))%>">
      </div>
      </div>
        <% if @book.owner_user == current_user %>
          <%= button_to "Edit Book", edit_book_path(@book), method: :get, class: "eb-button" %>
          <%= button_to "Delete Book", book_path(@book), method: :delete, class: "db-button" %>
        <% end %>
      <% end %>
      </div>
      <br>
      </br>
    <div class="reflections" style="float:right; width:500px; height:500px; overflow:auto;">
      <% @book.reflections.each do | r | %>
        <div class="book-title" style = "text-transform:uppercase;">
          <%= r.title %>
        </div>
        <br>
        <br>
        <%= r.content %>
        <br>
        <div class="bsb-buttons">
          <%= render partial: "layouts/edit_delete_reflections", locals: { object: @book, obj: r } %>
        </div>
        <br>
        </br>
        <br>
        </br>
      <% end %>
      <div class="wr-button-div">
      <% if @book.owner_user == current_user %>
        <%= button_to "Write a reflection", new_book_reflection_path(@book), method: :get, class: "wr-button" %>
      <% end %>
      </div>


          </div>

      </body>
    </html>
